h2{
    margin-left: 20px;
}
label{
    margin-left: 25px;
    font-weight: bold;


}
.input button{

    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
   
}
.input{

    background-image: linear-gradient(-225deg, #adadad 0%, #777877 48%, #29292a 100%);
    margin-top: 100px;
    
    
}
.input input{
    border-radius: 20px;
    padding: 10px;
    
}